<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>User_profile</title>
</head>
<body>
    <div class="container">
        <div class="userimage">
<<<<<<< HEAD
            <img src="/img/user.png" alt="user image">
            <div class="userstatus"><%= user_data.status %></div>
        </div>
        <div class="data">
            <div class="username">Username:<p class="userinfo"><%= user_data.username %></p></div>
            <div class="username">Email:<p class="userinfo"><%= user_data.email %></p></div>
            <div class="username">Contact number:<p class="userinfo"><%= user_data.contact %></p></div>
        </div>
=======
                <img src="/img/user.png" alt="">
            </div>
            <div class="data">
                <div class="username">Username: <%= user_data.username %><p class="userinfo"></p</div>
                <div class="username">Email: <%= user_data.email %><p class="userinfo"></p</div>
            </div>
>>>>>>> 7f3e24a7fabd29506d4502d5b82a9aa3cc519dab
    </div>
</body>
</html>