<!-- <h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/197592_1007017930183_5279_n.jpg?oh=2e24b7a0b113730421ec4fc65ddad724&oe=568A3492">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tEducation : Best Online Education</title>
    <script src="https://kit.fontawesome.com/a809070755.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <nav class="navbar">
        <div class="burger">
            <i onclick="document.getElementById('menu').classList.toggle('v-class-resp')" class="fa fa-bars"></i> 
        </div>                
        <div class="logoitem">
            <img class="logo" src="img/logo.jpg" alt="Logo">
            <p id="logo" class="logotext">tEducation</p>
        </div>
        <div class="user">
            <span class="textname">Signed as <%= text %></span>
            <p><i onclick="document.getElementById('menu').classList.toggle('v-class-resp')" class="fa fa-sort-desc"></i></p>
        </div>    
    </nav>
    <div  class="scrolldown" id="profile-setting">
        <ul id="menu" class="userinfo v-class-resp">
                <div class="profile">
                  <span>Signed as <%= text %></span>
            </div>
<<<<<<< HEAD
            <!-- <li><a href="/user_profile/<%= id %>""> Profile</a></li> -->
=======
>>>>>>> 7f3e24a7fabd29506d4502d5b82a9aa3cc519dab
            <li><a href="/user_profile/<%= id %>"> Profile</a></li>
            <li><a href="/setting"> Setting</a></li>
            <li><a href="/user_account/<%= id %>"> Account</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    <section>
        <div class="welcome">
                <h1>Welcome Back</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="heading-course">
                <h1>Top Courses</h1>
            </div>
            <div class="box">
                <div class="course-name">
                    <h3>Basics of Web Development</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/coding_course"> Go to Course</a></button>
                    </div>
            </div>
            <div class="box">
                 <div class="course-name">
                    <h3>Python for Everybody</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/python_course"> Go to Course</a></button>
                    </div>
            </div>
            <div class="box">
                 <div class="course-name">
                    <h3>Introduction to C++</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/C_course"> Go to Course</a></button>
                    </div>
            </div>
            <div class="box">
                 <div class="course-name">
                    <h3>Machine Learning</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/CSS_course"> Go to Course</a></button>
                    </div>
            </div>
            <div class="box">
                 <div class="course-name">
                    <h3>Developing Internet of Things</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/HTML_course"> Go to Course</a></button>
                    </div>
            </div>
            <div class="box">
                 <div class="course-name">
                    <h3>Introduction to linux</h3>
                </div>
                    <div class="btnbox">
                        <button class="btn"><a href="/JS_course"> Go to Course</a></button>
                    </div>
            </div>
        </div>
    </section>     

</body>
</html>